h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body { margin: 0; padding: 0; } 

/* Header/Outreach Navigation Bar */
.site-header {
    background-color: #003893; 
    vertical-align: auto;
    width: 100%;
    height: 4.2vw;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

/* Museum Website Navigation Bar */

.logo-container img {
    width: 18%;
    min-width: 50px;
    height: auto;
    margin-left: 4vw;
}

.logo-container {
    position: fixed;
    background-color: white;
    height: 7vw;
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-top: 4.2vw;
    z-index: 1000;
}

/* Outreach LInks */

.navigation ul {
    list-style: none; 
    display: flex; 
    margin-right: 0px;
    margin-left: 10.2vw;
    
}

.navigation ul li {
    margin-right: 4vw;
}

.navigation ul li a {
    font-family: "Julius Sans One", sans-serif; 
    font-size: 2.2vw; 
    color: rgb(9, 9, 9); 
    text-decoration: none; 
}

.navigation ul li:first-child {
    margin-left: 2.3vw; 
}

.navigation ul li a:hover {
    text-decoration: underline; 
}

/* Website Navigation Links */

.additional-links {
    display: flex; 
    float: right;
    padding-top: 1.5vw; 
    padding-bottom: 1.5vw;
    padding-right: 2.0vw;
}

.additional-links ul li {
    display: inline-block; 
    margin-left: 1.9vw; 
}

.additional-links ul li img {
    margin-left: 5px; 
    vertical-align:text-bottom;
    width: 0.9vw; 
    height: auto; 
}

.additional-links ul li a {
    color: #fff; 
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.2vw;
    text-decoration: none; 
}

/* Prototype Image Carousel Banner */

.banner-container {
    padding-top: 11.2vw;
    padding-bottom: 5.0vw;
    position: relative;
    
}

.banner-container img {
    width: 100%;
    height: 30vw;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows img {
    height: 5vw;
    width: auto;
    left: 0px;
}

.arrows img:hover {
    filter: hue-rotate(90deg); 
    transform: scale(1.2);
}

.caption {
    position: absolute; 
    color: rgb(0, 0, 0); 
    font-size: 1.5vw; 
    font-weight: bold;
    font-family: "Kaisei Decol";
    right: 0.9vw;
}

/* Welcome Banner */

.red-banner {
    background-color: #86262A;
    height: auto; 
    margin-bottom: 5.0vw;
    font-family: "Kaisei Decol";
    color: white;
}

.red-banner h2 {
    font-weight: bold;
    font-size: 2.17vw;
    margin-left: 4.93vw;
    margin-right: 4.93vw;
    padding-top: 2.9vw;
}

.red-banner p {
    margin-left: 4.93vw;
    margin-right: 4.93vw;
    padding-bottom: 3.2vw;
    font-size: 1.45vw;
    line-height: 1.5;
}

/* Upcoming Events Section */

.upcoming-events {
    text-align: center;
}

.upcoming-events h1, .newsletter h1 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 2.2vw;
}

.event-images-wrapper {
    overflow-x: auto;
    white-space: nowrap; 
    padding: 20px 0;
    position: relative;
}

.event-images-wrapper::-webkit-scrollbar {
    display: none;
}

.image-container {
    width: 30vw;
    height: 28vw;
    border: 0.3vw solid black; 
    margin: 2.0vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10.0vw;
}

.event-images {
    display: inline-flex;
    
}

.event-images img {
    height: 25vw;
    min-height: 180px;
    margin: 3.0vw;
}

.image-container:hover {
    border-color: #F8D216; 
    transform: scale(1.05); 
}

.image-container:hover img {
    transition: transform 0.3s ease; 
    transform: scale(1.02); 
}

.event-caption {
    position: absolute;
    color: black;
    width: 100%;
    text-align: center; 
    padding: 10px; 
    margin-top: 35vw;
}

.event-caption h1,
.event-caption p {
    margin: 5px 0;
    font-size: 1.2vw;
    font-family: "Kaisei Decol";
}

.event-caption h1 {
    font-weight: bold;
}

/* Newsletter Section */

.email-signup {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 8vw;
    vertical-align:auto;
}

.email-signup h2 {
    font-size: 2.0vw;
    font-family: "Kaisei Decol";
    display: inline;
    margin-right: 0.7vw; 
    font-weight: lighter;
}

.input-box {
    display: inline-block;
    margin-top: 20px;
}

.input-box input[type="email"] {
    padding: 10px;
    width: 50vw;
    min-width: 400px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2.0vw;
    font-family: "Kaisei Decol";
}

.input-box button {
    padding: 10px 20px;
    font-family: "Kaisei Decol";
    color: black;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2.0vw;
    margin-left: 10px;
}

.input-box button:hover {
    background-color: #F8D216;
}

/* Hourse and Location Section */

.pre-footer {
    display: flex;
    justify-content: space-between; 
    text-align: left;
    margin: 5vw;
}

.hours-container,
.address-container {
    display: inline-block;
    flex: 1;
    width: 30%;

}
.pre-footer h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 2.2vw;
    line-height: 2;
    font-weight:lighter;
}

.pre-footer p {
    font-family: "Julius Sans One", sans-serif;
    margin: 0;
    font-size: 1.7vw;
    line-height: 2;
}

.pre-footer img {
    height: 9vw;
    min-height: 70px; 
    margin: auto;
}

/* Footer with Socials */

.site-footer {
    background-color: #003893; 
    width: 100%; 
    height: 6.2vw; 
    min-height: 40px;
    left: 0;
    z-index: 1000; 
    bottom: 0;
}

.social-icons {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    height: 100%; 
}

.social-icons img {
    width: 2.9vw;
    height: 2.9vw; 
    min-width: 20px;
    min-height: 20px;
    margin-right: 2.17vw; 
}

@media screen and (max-width: 800px) {
    .additional-links {
        justify-content: center; 
        float: none; 
        padding-right: 0;
    }

    .additional-links ul li {
       margin-left: 10px;
    }

    .additional-links ul li a {
        font-size: 10px;
    }
    .logo-container {
        margin-top: 40px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center; 
        height: auto;
    }

    .navigation {
        margin-left: 0;
    }

    .logo-container img {
        margin-left: 0;
        padding: 10px;
    }

    .navigation ul {
        display:flex;
        flex-direction:row; 
        justify-content: center; 
        margin-bottom: 10px;
    }

    .navigation ul li a {
        font-size: 20px;
    }

    .banner-container {
        padding-top: 140px;
    }

    .arrows {
        top: 60%;
    }

    .red-banner h2 {
        font-size: 15px;
    }
    
    .red-banner p {
        font-size: 10px;
    }

    .upcoming-events h1, .newsletter h1 {
        font-size: 20px;
    }

    .image-container {
        width: 220px;
        height: 200px;
        border: 0.3vw solid black;
        margin: 20px;
        margin-bottom: 10.0vw;
    }

    .event-caption {
        padding: 10px; 
        margin-top: 250px;
    }
    
    .event-caption h1,
    .event-caption p {
        margin: 10px;
        font-size: 10px;
        line-height: 0.5;
    }

    .email-signup h2 {
        font-size: 15px;
    }

    .input-box input[type="email"] {
        font-size: 15px;
    }
    
    .input-box button {
        font-size: 15px;
        margin-top: 15px;
    }


    .hours-container,
    .address-container {
        width: 100%; 
        margin: 20px; 
        margin-bottom: 20px; 

    }

    .pre-footer h1 {
        font-size: 15px;
    }
    
    .pre-footer p {
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 650px) {
    .email-signup h2 {
        display: none; 
    }
}

@media only screen and (max-width: 620px) {
    .navigation ul li a {
        font-size: 15px;
    }

    .upcoming-events h1, .newsletter h1 {
        font-size: 15px;
    }

    .event-caption h1,
    .event-caption p {
        margin: 10px;
        font-size: 10px;
        line-height: 0.5;
    }
}

